@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to right ,#01022d ,#000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    
    background-image: 
    linear-gradient(to right ,#01022de5 30% ,#00000088) ,
    url(./images/bg.webp)
    ;
    width: 90%;
    height: 640px;
    background-position: center;
    background-size: cover;
}
.container:hover{
    
    background-image: 
    linear-gradient(to right ,#01022de5 30% ,transparent) ,
    url(./images/bg.webp)
    ;
    background-position: center;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul a {
    border-bottom: 2px solid transparent;
}
ul a:hover {
    border-bottom: 2px solid #fff;
}

.content{
   color:#fff ;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.container h2{
    font-size: 100px ;
    text-transform: uppercase;
}
.container p{
    letter-spacing: 3px;
    width: 400px;
    padding: 10px 0;
}
.container button{
    font-size: 30px;
   padding: 6px 10px;
   margin-top: 10px;
   border-radius: 10px;
   border: 2px solid transparent;

}
.container button:hover{
    font-size: 30px;
   padding: 6px 10px;
   margin-top: 10px;
   border-radius: 10px;
   background-color: transparent;
   color: #fff;
   border-color: #fff;
   cursor: pointer;
}